
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Open+Sans&family=Poppins:wght@500&family=Roboto:wght@400;500&family=Work+Sans:wght@500&display=swap');

*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* primaery color  */

.gray{
    color: #727272;
}
.clr{
    color: #FF900E;
}
/* primary Button  */

.btn-primary {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 10px 50px;
    height: 60px;
    border-radius: 8px;
    background: #FF900E;
}
 /* Navigation Bar  */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    background: rgba(255, 144, 14, 0.1);
}
.nav-title{
    font-weight: 700;
    font-size: 45px;
}
.nav ul {
    display: flex;
    align-items: flex-start;

}
.nav li {
    list-style: none;
    margin-right: 70px;
}

/* Group of Architecture  */

.Group-of-architecture{
    display: flex;
   text-align: center;  
   background: rgba(255, 144, 14, 0.1);
   padding-bottom: 50px;
}
.group{
    font-size: 64px;
    margin-bottom: 30px;
}
.another_groups{
    font-size: 16px;
    margin-bottom: 30px;
}
.first-section-text{
    margin-left: 500px;
   
}
.banner-image{
    display: flex;
    justify-content: center;
    background: rgba(255, 144, 14, 0.1);
    padding-bottom: 40px;
    
}

/* Second Section  */

.second_section{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
   
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}
.quick-list{
    
    margin-left: 60px;
   
}
.list{
    font-size: 45px;
    margin-bottom: 14px;
}
.lorem{
    font-size: 16px;
    margin-bottom: 32px;
}

/* Third Section  */
.third-section{
    display: flex;
    margin-left: 300px;
    margin-top: 130px;
}
.banner_text{

    display: flex;
    flex-direction: column;
}
.vertical-line{
    border-radius: 2px;
    width: 5px; 
    background-color:  #FF900E;
    height: 100%; 
    position: absolute;
}
.feature{
    margin-left: 10px;
    font-size: 40px;
}
.variation{
    margin-top: 20px;
    color: #727272; 
}
.box-shadow{
    margin-top: 20px;
    margin-bottom: 50px;
    background: #FFFFFF;
    width: 586px;
    height: 171px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10px;
    
}
.architect_image{
    margin-left: 40px;
}
.mn{
    margin-top: 5px;
    margin-bottom: 20px;
}
.div1{
    
    color: #FFFFFF;
    font-weight: 600;
    font-size: 30px;
    border: 0;
    padding: 10px 50px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;
  border-radius: 8px;
     position: relative;
       bottom: 300px;
       left: 960px;
 
}
/* Fourth Section  */
.summery_or_projects{
    margin-left: 310px;
}
.facts{
    font-size: 45px;
    margin-bottom: 20px;
}
.icons{
    margin-top: 30px;
    margin-left: 80px;
    display: flex;
    
    gap: 124px;
}
.icon{
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
     width: 100px;
    height: 100px;
    padding: 30px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: width 1s , height 1s, transform 1s;
    
}
.icon:hover{
    background-color: lightskyblue;
    width: 100px;
    height: 100px;
    transform: rotate(755deg);
}
/* Fifth section  */
.sponsers{
   text-align: center;
    margin-top: 180px;
}
.images_sp{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 40px;
}
.oursp{
    font-size: 45px;
    margin-bottom: 10px;

}
.sps{
    font-size: 16px;
    color: #727272; 
}
/* footer part  */
.copy_right{
    font-size: 10px;
    color: #424242;
    background: #FFF4E7;
    margin: 60px;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
}

/* Mobile device section   */

@media screen and (max-width: 576px){
  
    nav, nav ul{
        flex-direction: column;
        justify-content: center;
       align-items: center;
       gap: 30px;
    padding: 20px 0 60px;
    
    }
    nav ul{
        margin-left: 50px;
        font-size: 20px;
    }
    .Group-of-architecture{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: flex-end;
        gap: 40px;
        padding: 10px ;

    }
    .first-section-text{
        margin-right: 20px;
    }
    .banner-image img{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 30px;
    }
    .second_section{
    padding: 5px;
    flex-direction: column-reverse;
    }
    .quick-list{
        margin-right: 20px;
    }
    .grid{
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        height: 100%;
        width: 100%;
    }
    .third-section{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 10px;
        margin-right: 70px;
    }
    .feature{
        font-size: 35px;
    }
    .box-shadow{
        margin-right: 10px;
    }
    .variation{
        margin-right: 0px;
        font-size: 10px;
    }
    .box-shadow{
        margin-right: 10px;
        font-size: 8px;
    }
    .architect_image{
        display: none;
    }
  .buton{
   display: none;

  }
  .sf{
    text-align: center;
    margin-right: 20px;
  }
  .summery_or_projects{
    margin-left: 10px;
  }
  .icons{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .sponser{
    padding: 10px;
    text-align: center;
    margin-right: 60px;
  }
  .oursp{
    font-size: 40px;
  }
  .sps{
    
    margin-left: 10px;
     font-size: 16px;
  }
   .images_sp{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
   
   }
   .copy_right{
    padding: 20px;
    margin-right: 90px;
    font-size: 10px;
    text-align: center;
   }
   
}
